/* center div */
.breadcrumb_wrapper {
  /* height: 3.5rem; */
  width: 100%;
  display: flex;
  padding-bottom: 0.1%;
  padding-top: 0.1%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
}

.breadcrumbs {
  height: 3.5rem;
  border: 1px solid #cbd2d9;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
  margin: 0.3rem auto;
}



/* set breakpoint and hide ebrains-ai-cropped on narrow devices */
@media (max-width: 70rem) {
  .ebrains-ai {
    display: none;
  }
}

.breadcrumbs__item {
  background: #F8FAFB;
  color: #18213E;
  outline: none;
  /* centre text  vertically*/

  padding: 1.05em 1.05em 1.05em 2em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #F8FAFB;
}


.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: #F8FAFB;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #edf1f5;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}


.breadcrumbs__item.current,
.breadcrumbs__item.current:after {
  background: #323f4a;
  color: #F8FAFB;
}

/* set header height */
header {
  background-color: #18213E;
  height: 3.75rem;
}

/* set iframe width to 100% */
iframe {
  width: 100%;
  height: calc(100vh - 3.75rem);


}